section {
	padding: 20px;
}

body {
	padding-top: 80px;
}

footer {
	bottom: 0px;
}

.marginclass{
	margin: 10px;
}

.marginpequeño{
	margin: 20px;

}

.margingrande {
	margin: 50px;
}

.marginleft{
	margin-left: 30px;
}

.widthcoment{
	width: 30%;
}


.form{
	padding:0 20px;
	display: inline-block;
}
.form .form-row{
	padding: 10px;
}
input {
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 3px;
}
input [type=button], input[type=submit], input[type=reset] {
	background-color: #5BA0FF;
	border: none;
	color: white;
	padding: 15px 40px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	height: 30px;
	width: 90px;
}



